<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Color Log</title>
<link rel="stylesheet" href="../color.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<header class="page-header">
		<a href="/" ><h3>&#128204; 색상선택</h3></a>
		<a href="/colorLog"><h3>&#128203; 히스토리</h3></a>
	</header>

	<div class="color-select">
		<!-- 문자열 합치기: 양끝에 | 붙이기 -->
		<ul th:each="color: ${colorList}">
			<li th:style="|background-color: ${color.rgbCode};|">
				<span class="color-element" th:text="${color.rgbCode}"></span>
				<br>
				<span th:text="${color.datetime}"></span>
			</li>
		</ul>
	</div>


</body>
</html>